/* ;
 */
:root {
    --white: #fefecc;
    --dark: #1b1a17;
    --primary: rgb(61, 16, 0);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 50px 50px rgba(0, 0, 0, 0.20);
}

.container .left-side {
    position: relative;
    background: #51c4d3;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
}

.profileText .imgBox {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: var(--dark);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 1.4em;
    transition: 0.3s;

}

.profileText h2:hover {
    letter-spacing: 3px;
}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
    color: var(--white);
    letter-spacing: 0px !important;
}

.contactInfor {
    padding-top: 40px;
}

.contactInfor .title {
    color: var(--dark);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    transition: 0.2s;
}

.contactInfor .title:hover {
    letter-spacing: 3px;
}

.contactInfor ul {
    position: relative;
}

.contactInfor ul li {
    list-style: none;
    position: relative;
    margin: 7px 0;
    cursor: pointer;
}


.contactInfor ul li .fa-mobile {
    margin-left: 5px;

}


.contactInfor ul li .icon {
    color: var(--primary);
    display: inline-block;
    font-size: 18px;
    width: 30px;

}

.contactInfor ul li span {
    color: var(--white);
    font-weight: 300;
}

.contactInfor ul li a {
    text-decoration: none;
}

.contactInfor .education {
    margin-bottom: 15px;
}

.education h5 {
    color: var(--primary);
}

.education h4:nth-child(2) {
    color: var(--dark);
    font-weight: 600;
}

.education h4 {
    color: var(--dark);
    font-weight: 300;
}

.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: var(--primary);
    display: block;
    margin-top: 5px;
}

.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--white);
}






.container .right-side {
    position: relative;
    background: #d8e3e7;
    padding: 40px;
}

.right-side h2 {
    transition: 0.3s;
}

.right-side h2:hover {
    letter-spacing: 3px;
}

.right-side .about {
    margin-bottom: 50px;
}

.title {
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.title p {
    color: var(--primary);
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year-company {
    min-width: 180px;
}

.about .box .year-company h5 {
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 600;
}


.about .box h4 {
    text-transform: uppercase;
    color: coral;
}

.skills h4 {
    color: var(--primary) !important;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 180px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 600;
    font-size: 0.83em;
    transition: 0.2s;
}

.skills .box h4:hover {
    letter-spacing: 3px;
}

.percent {
    border-radius: 10px;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: #000000;
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--white);
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
    }
}
